---
- name: Rename nodejs directory
  become: true
  command: mv {{ nodejs_toolchain_dest }}/{{ toolchain_top_level_directory }} {{ nodejs_toolchain_dest }}/node
  args:
    creates: "{{ nodejs_toolchain_dest }}/node"
  when: toolchain_top_level_directory is defined

- name: Create node symlink
  become: true
  file:
    src: "{{ nodejs_toolchain_dest }}/node/bin/node"
    dest: /usr/local/bin/node
    state: link

- name: Create npm symlink
  become: true
  file:
    src: "{{ nodejs_toolchain_dest }}/node/bin/npm"
    dest: /usr/local/bin/npm
    state: link

- name: Create npx symlink
  become: true
  file:
    src: "{{ nodejs_toolchain_dest }}/node/bin/npx"
    dest: /usr/local/bin/npx
    state: link

- name: Copy npmrc file
  become: true
  template:
    dest: "{{ nodejs_toolchain_npmrc_dest }}"
    src: npmrc.j2

- include_tasks: setup-Debian.yml
  when: ansible_os_family == "Debian"

- include_tasks: setup-Darwin.yml
  when: ansible_os_family == "Darwin"
