---
- name: Rename nodejs directory
  command: mv {{ nodejs_toolchain_dest }}/{{ toolchain_top_level_directory }} {{ nodejs_toolchain_dest }}/node
  args:
    creates: "{{ nodejs_toolchain_dest }}/node"
  when: toolchain_top_level_directory is defined

- name: Create node symlink
  file:
    src: "{{ nodejs_toolchain_dest }}/node/bin/node"
    dest: /usr/local/bin/node
    state: link

- name: Create npm symlink
  file:
    src: "{{ nodejs_toolchain_dest }}/node/bin/npm"
    dest: /usr/local/bin/npm
    state: link

- name: Create npx symlink
  file:
    src: "{{ nodejs_toolchain_dest }}/node/bin/npx"
    dest: /usr/local/bin/npx
    state: link
